# Assignment 3

## Everything below this point are answers to the assignment questions.

### 1. Online Retail Market Basket Analysis

Loading the Online Retail Dataset

In [7]:
import pandas as pd 
pd.set_option("max_colwidth", 150)

In [8]:
f = "https://github.com/cs6220/cs6220.spring2019/raw/master/data/Online%20Retail.xlsx"

In [9]:
df = pd.read_excel(f)

In [10]:
basket = (df[df["Country"] == "United Kingdom"]
.groupby(["InvoiceNo", "Description"])["Quantity"] .sum().unstack().reset_index().fillna(0)
.set_index("InvoiceNo")) # transform transactions into baskets of items

In [11]:
basket_sets = basket.applymap(lambda x: 1 if x >=1 else 0) # convert counts to booleans

#### **1.1** FREQUENT ITSEMSET GENERATION

In [12]:
basket_sets.head(50)

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536371,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536372,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536373,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536374,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536375,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536376,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536377,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536385,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536386,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536387,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536388,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536392,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536394,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536396,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536399,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536401,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536402,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536404,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536405,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536407,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536408,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536409,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
536412,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
536415,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
536416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536420,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536423,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536425,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536437,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536446,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536464,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

*(a) What are the top 5 1-itemsets with the highest support?*

In [13]:
from mlxtend.frequent_patterns import apriori

**NOTE:** Should we also remove the "wrongly coded" columns--same reason, dont represent a gift item and thus irrelevant?

Make a copy of the original data set in case we need to refer to it again:

In [14]:
basket_sets_copy = basket_sets.copy()

Now, remove index column from basket_sets (because we can only use True/False or binary 0/1 values):

In [15]:
basket_sets.reset_index(drop=True, inplace=True)
frequent_itemsets = basket_sets.copy()

In [16]:
frequent_itemsets.head()

Description,20713,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
frequent_1_itemsets = apriori(frequent_itemsets, min_support=0.063, use_colnames=True)
frequent_1_itemsets['length'] = frequent_1_itemsets['itemsets'].apply(lambda x: len(x))

The top 5 1-itemsets with the highest support are:

In [18]:
frequent_1_itemsets

    support                              itemsets  length
0  0.087931             (JUMBO BAG RED RETROSPOT)       1
1  0.063158             (LUNCH BAG RED RETROSPOT)       1
2  0.072323                       (PARTY BUNTING)       1
3  0.076452            (REGENCY CAKESTAND 3 TIER)       1
4  0.098276  (WHITE HANGING HEART T-LIGHT HOLDER)       1

I chose the min support to be 6.3%, because it was the highest support I could use to get at least 5 items.

Their corresponding supports can be seen in the table above. Note that we don't need to do any more "selecting" to find only the 1-itemsets because all the sets above only have 1 item each.

*(b) What are the top 5 2-itemsets with the highest support?*

In [19]:
frequent_2_itemsets = apriori(frequent_itemsets, min_support=0.027, use_colnames=True)
frequent_2_itemsets['length'] = frequent_2_itemsets['itemsets'].apply(lambda x: len(x))
frequent_2_itemsets

,support,itemsets,length
0,0.038793,(6 RIBBONS RUSTIC CHARM),1
1,0.034165,(60 TEATIME FAIRY CAKE CASES),1
2,0.039746,(ALARM CLOCK BAKELIKE GREEN),1
3,0.029764,(ALARM CLOCK BAKELIKE PINK),1
4,0.042196,(ALARM CLOCK BAKELIKE RED ),1
...,...,...,...
109,0.031806,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",2
110,0.035617,"(JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKADOT)",2
111,0.029809,"(JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAGE RED PAISLEY)",2
112,0.031670,"(JUMBO BAG RED RETROSPOT, JUMBO STORAGE BAG SUKI)",2
113,0.027541,"(LUNCH BAG BLACK SKULL., LUNCH BAG RED RETROSPOT)",2

The top 5 2-itemsets with the highest support are:

In [20]:
#Getting all itemsets of length 2
frequent_2_itemsets = frequent_2_itemsets[(frequent_2_itemsets['length'] == 2)]
frequent_2_itemsets

,support,itemsets,length
109,0.031806,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",2
110,0.035617,"(JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKADOT)",2
111,0.029809,"(JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAGE RED PAISLEY)",2
112,0.031670,"(JUMBO BAG RED RETROSPOT, JUMBO STORAGE BAG SUKI)",2
113,0.027541,"(LUNCH BAG BLACK SKULL., LUNCH BAG RED RETROSPOT)",2

Their corresponding supports can be seen in the table above.

*(c) What is the highest support value for the 1-itemsets?*

In [21]:
frequent_1_itemsets.sort_values(by=["support"], ascending=False)

    support                              itemsets  length
4  0.098276  (WHITE HANGING HEART T-LIGHT HOLDER)       1
0  0.087931             (JUMBO BAG RED RETROSPOT)       1
3  0.076452            (REGENCY CAKESTAND 3 TIER)       1
2  0.072323                       (PARTY BUNTING)       1
1  0.063158             (LUNCH BAG RED RETROSPOT)       1

The highest support value for the 1-itemsets is 0.098276, which is the support value for 1-itemset: (WHITE HANGING HEART T-LIGHT HOLDER).

*(d) What is the highest support value for the 2-itemsets?*

In [22]:
frequent_2_itemsets.sort_values(by=["support"], ascending=False)

,support,itemsets,length
110,0.035617,"(JUMBO BAG RED RETROSPOT, JUMBO BAG PINK POLKADOT)",2
109,0.031806,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENCY TEACUP AND SAUCER )",2
112,0.031670,"(JUMBO BAG RED RETROSPOT, JUMBO STORAGE BAG SUKI)",2
111,0.029809,"(JUMBO BAG RED RETROSPOT, JUMBO SHOPPER VINTAGE RED PAISLEY)",2
113,0.027541,"(LUNCH BAG BLACK SKULL., LUNCH BAG RED RETROSPOT)",2

The highest support value for the 2-itemsets is 0.035617, which is the support value for 2-itemset: (JUMBO BAG PINK POLKADOT, JUMBO BAG RED RETROSPOT).

#### 1.2 ASSOCIATION RULE GENERATION

In [23]:
from mlxtend.frequent_patterns import association_rules

In [24]:
frequent_itemsets = basket_sets.copy()

In [25]:
frequent_itemsets = apriori(frequent_itemsets, min_support=0.02, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

,support,itemsets,length
0,0.038793,(6 RIBBONS RUSTIC CHARM),1
1,0.026361,(60 CAKE CASES VINTAGE CHRISTMAS),1
2,0.034165,(60 TEATIME FAIRY CAKE CASES),1
3,0.025181,(72 SWEETHEART FAIRY CAKE CASES),1
4,0.039746,(ALARM CLOCK BAKELIKE GREEN),1
...,...,...,...
237,0.021234,"(RED HANGING HEART T-LIGHT HOLDER, WHITE HANGING HEART T-LIGHT HOLDER)",2
238,0.020780,"(RED RETROSPOT CHARLOTTE BAG, STRAWBERRY CHARLOTTE BAG)",2
239,0.020599,"(REGENCY CAKESTAND 3 TIER, ROSES REGENCY TEACUP AND SAUCER )",2
240,0.023956,"(WOODEN FRAME ANTIQUE WHITE , WOODEN PICTURE FRAME WHITE FINISH)",2
241,0.022368,"(ROSES REGENCY TEACUP AND SAUCER , GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",3

In [26]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.75)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(PINK REGENCY TEACUP AND SAUCER),(GREEN REGENCY TEACUP AND SAUCER),0.031897,0.042377,0.026180,0.820768,19.368019,0.024828,5.342926
1,(GREEN REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.042377,0.043421,0.031806,0.750535,17.285056,0.029966,3.834527
2,(PINK REGENCY TEACUP AND SAUCER),(ROSES REGENCY TEACUP AND SAUCER ),0.031897,0.043421,0.024773,0.776671,17.886978,0.023388,4.283280
3,"(ROSES REGENCY TEACUP AND SAUCER , PINK REGENCY TEACUP AND SAUCER)",(GREEN REGENCY TEACUP AND SAUCER),0.024773,0.042377,0.022368,0.902930,21.306837,0.021319,9.865319
4,"(GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER)",(ROSES REGENCY TEACUP AND SAUCER ),0.026180,0.043421,0.022368,0.854419,19.677538,0.021232,6.570786

**NOTE:** I tried to combine having as high of a min support as possible, along with as high of confidence as possible. This seemed to be the best combination. However, I can generate rules with a higher confidence if I lower the support above (I also tried a min-spport of 0.027, and the highest confidence I could get to have 5 rules was aroun 0.4).

*(a) What are the top 5 association rules?*

The top 5 rules from above are as follows:
- {PINK REGENCY TEACUP AND SAUCER} --> {GREEN REGENCY TEACUP AND SAUCER}
- {GREEN REGENCY TEACUP AND SAUCER} --> {ROSES REGENCY TEACUP AND SAUCER}
- {PINK REGENCY TEACUP AND SAUCER} --> {ROSES REGENCY TEACUP AND SAUCER}
- {GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY TEACUP AND SAUCER} --> {ROSES REGENCY TEACUP AND SAUCER}
- {ROSES REGENCY TEACUP AND SAUCER , PINK REGENCY TEACUP AND SAUCER} --> {GREEN REGENCY TEACUP AND SAUCER}

*(b) What items make up one of the top association rules? Search online for the items (or at least items with the same name). Do you think they are likely to be bought together?*

All of the itemsets above are some combination of multiple teacup and saucer sets. When I did a Google search for tea sets on different websites, I found that they recommend "more items like this", which are different coloured/designed tea sets. Thus, I would conclude that this makes sense, although I would wonder if it might be more indicative of someone's *future* purchase, and not necessarily buying them together at the same time (although I understand that the rules and their confidence and support are indicative of what is bought *together*).

### 2. Association Rule Mining U.S. Census Data

Loading the Adult dataset:

In [27]:
import numpy as np 
import pandas as pd

In [28]:
path = "https://raw.githubusercontent.com/cs6220/cs6220.spring2019/master/data/adult/"

In [29]:
names = pd.read_csv(path + "adult.names", sep="\n", header=None)
parse_cols = lambda x: x.str.split(":", expand=True).iloc[:, 0]
columns = np.roll(parse_cols(names.iloc[92:108, 0]), shift=-1)

In [30]:
df_adult = pd.read_csv(path + "adult.data", sep=",", header=None, index_col=False)
df_adult.columns = columns

In [31]:
df_adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K."
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### 2.1 ASSOCIATION RULE MINING

*(a) Transform the raw dataset into a format appropriate for association rule mining by dropping all continuous columns and one-hot encoding the remaining columns. The values for each resulting column should be binary, represented by a 1 or 0.*

In [32]:
import patsy

First, we will drop all the continous columns:

In [33]:
df_adult = df_adult.select_dtypes(exclude=[np.number])
df_adult.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,">50K, <=50K."
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

Need to rename columns with weird characters because it seems to be throwing errors related to them (only allowing for underscores here).

In [34]:
df_adult = df_adult.rename(columns={"marital-status" : "marital_status", 
                                   "native-country" : "native_country",
                                   ">50K, <=50K." : "income"})

In [35]:
df_adult.head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

From Prof Aguiar's Week 04 Notebook, we will use patsy to encode all the columns at once:

In [36]:
s = ' + '.join(df_adult.columns) + ' -1' 
print(s)

workclass + education + marital_status + occupation + relationship + race + sex + native_country + income -1

In [37]:
df = patsy.dmatrix(s, df_adult, return_type='dataframe')
df.head()

,workclass[ ?],workclass[ Federal-gov],workclass[ Local-gov],workclass[ Never-worked],workclass[ Private],workclass[ Self-emp-inc],workclass[ Self-emp-not-inc],workclass[ State-gov],workclass[ Without-pay],education[T. 11th],...,native_country[T. Puerto-Rico],native_country[T. Scotland],native_country[T. South],native_country[T. Taiwan],native_country[T. Thailand],native_country[T. Trinadad&Tobago],native_country[T. United-States],native_country[T. Vietnam],native_country[T. Yugoslavia],income[T. >50K]
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Above, we can see the encoded dataframe, with binary values (1.0 or 0.0) for all (remaining, categorical data) columns.

*(b) Use confidence for the rule interestingness (metric="confidence") and generate rules up to a depth of at least 3 (max len=3) or higher. Generate rules and find at least 5 rules that you find interesting. Comment on your findings and try to reason about these association rules. Decide yourself on the levels of support and confidence used in this analysis.*

In [83]:
adult_freq_itemsets = apriori(df, min_support=0.2, use_colnames=True, max_len=3)
adult_freq_itemsets

,support,itemsets
0,0.697030,(workclass[ Private])
1,0.322502,(education[T. HS-grad])
2,0.223918,(education[T. Some-college])
3,0.459937,(marital_status[T. Married-civ-spouse])
4,0.328092,(marital_status[T. Never-married])
5,0.255060,(relationship[T. Not-in-family])
6,0.854274,(race[T. White])
7,0.669205,(sex[T. Male])
8,0.895857,(native_country[T. United-States])
9,0.240810,(income[T. >50K])
10,0.238936,"(workclass[ Private], education[T. HS-grad])"
11,0.298885,"(workclass[ Private], marital_status[T. Married-civ-spouse])"
12,0.251405,"(workclass[ Private], marital_status[T. Never-married])"
13,0.595928,"(race[T. White], workclass[ Private])"
14,0.458954,"(workclass[ Private], sex[T. Male])"
15,0.618378,"(workclass[ Private], native_country[T. United-States])"
16,0.273456,"(race[T. White], education[T. HS-grad])"
17,0.218390,"(education[T. HS-grad], sex[T. Male])"
18,0.297964,"(education[T. HS-grad], native_country[T. United-States])"
19,0.206996,"(education[T. Some-college], native_country[T. United-States])"
20,0.411842,"(race[T. White], marital_status[T. Married-civ-spouse])"
21,0.409048,"(marital_status[T. Married-civ-spouse], sex[T. Male])"
22,0.410553,"(marital_status[T. Married-civ-spouse], native_country[T. United-States])"
23,0.205522,"(marital_status[T. Married-civ-spouse], income[T. >50K])"
24,0.268941,"(race[T. White], marital_status[T. Never-married])"
25,0.294186,"(marital_status[T. Never-married], native_country[T. United-States])"
26,0.218820,"(race[T. White], relationship[T. Not-in-family])"
27,0.231197,"(relationship[T. Not-in-family], native_country[T. United-States])"
28,0.588864,"(race[T. White], sex[T. Male])"
29,0.786862,"(race[T. White], native_country[T. United-States])"
30,0.218574,"(race[T. White], income[T. >50K])"
31,0.598507,"(sex[T. Male], native_country[T. United-States])"
32,0.204601,"(sex[T. Male], income[T. >50K])"
33,0.220233,"(income[T. >50K], native_country[T. United-States])"
34,0.203065,"(race[T. White], workclass[ Private], education[T. HS-grad])"
35,0.219526,"(workclass[ Private], education[T. HS-grad], native_country[T. United-States])"
36,0.266699,"(race[T. White], workclass[ Private], marital_status[T. Married-civ-spouse])"
37,0.266208,"(workclass[ Private], marital_status[T. Married-civ-spouse], sex[T. Male])"
38,0.263843,"(workclass[ Private], marital_status[T. Married-civ-spouse], native_country[T. United-States])"
39,0.208378,"(race[T. White], workclass[ Private], marital_status[T. Never-married])"
40,0.223273,"(workclass[ Private], marital_status[T. Never-married], native_country[T. United-States])"
41,0.403028,"(race[T. White], workclass[ Private], sex[T. Male])"
42,0.544455,"(race[T. White], workclass[ Private], native_country[T. United-States])"
43,0.405669,"(workclass[ Private], sex[T. Male], native_country[T. United-States])"
44,0.257486,"(race[T. White], education[T. HS-grad], native_country[T. United-States])"
45,0.202543,"(education[T. HS-grad], sex[T. Male], native_country[T. United-States])"
46,0.369645,"(race[T. White], marital_status[T. Married-civ-spouse], sex[T. Male])"
47,0.379872,"(race[T. White], marital_status[T. Married-civ-spouse], native_country[T. United-States])"
48,0.366911,"(marital_status[T. Married-civ-spouse], sex[T. Male], native_country[T. United-States])"
49,0.247658,"(race[T. White], marital_status[T. Never-married], native_country[T. United-States])"
50,0.202973,"(race[T. White], relationship[T. Not-in-family], native_country[T. United-States])"
51,0.542152,"(race[T. White], sex[T. Male], native_country[T. United-States])"
52,0.205890,"(race[T. White], income[T. >50K], native_country[T. United-States])"

In [84]:
conf_rules = association_rules(adult_freq_itemsets, metric="confidence", min_threshold=0.8)
conf_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(workclass[ Private]),(race[T. White]),0.697030,0.854274,0.595928,0.854952,1.000795,0.000473,1.004681
1,(workclass[ Private]),(native_country[T. United-States]),0.697030,0.895857,0.618378,0.887161,0.990293,-0.006062,0.922932
2,(education[T. HS-grad]),(race[T. White]),0.322502,0.854274,0.273456,0.847919,0.992562,-0.002049,0.958218
3,(education[T. HS-grad]),(native_country[T. United-States]),0.322502,0.895857,0.297964,0.923912,1.031316,0.009048,1.368718
4,(education[T. Some-college]),(native_country[T. United-States]),0.223918,0.895857,0.206996,0.924427,1.031892,0.006397,1.378052
5,(marital_status[T. Married-civ-spouse]),(race[T. White]),0.459937,0.854274,0.411842,0.895433,1.048180,0.018931,1.393614
6,(marital_status[T. Married-civ-spouse]),(sex[T. Male]),0.459937,0.669205,0.409048,0.889356,1.328973,0.101255,2.989728
7,(marital_status[T. Married-civ-spouse]),(native_country[T. United-States]),0.459937,0.895857,0.410553,0.892628,0.996396,-0.001485,0.969929
8,(income[T. >50K]),(marital_status[T. Married-civ-spouse]),0.240810,0.459937,0.205522,0.853463,1.855609,0.094765,3.685497
9,(marital_status[T. Never-married]),(race[T. White]),0.328092,0.854274,0.268941,0.819714,0.959545,-0.011339,0.808305
10,(marital_status[T. Never-married]),(native_country[T. United-States]),0.328092,0.895857,0.294186,0.896658,1.000894,0.000263,1.007753
11,(relationship[T. Not-in-family]),(race[T. White]),0.255060,0.854274,0.218820,0.857917,1.004265,0.000929,1.025643
12,(relationship[T. Not-in-family]),(native_country[T. United-States]),0.255060,0.895857,0.231197,0.906442,1.011815,0.002700,1.113137
13,(sex[T. Male]),(race[T. White]),0.669205,0.854274,0.588864,0.879945,1.030051,0.017179,1.213830
14,(race[T. White]),(native_country[T. United-States]),0.854274,0.895857,0.786862,0.921089,1.028165,0.021555,1.319746
15,(native_country[T. United-States]),(race[T. White]),0.895857,0.854274,0.786862,0.878334,1.028165,0.021555,1.197758
16,(income[T. >50K]),(race[T. White]),0.240810,0.854274,0.218574,0.907665,1.062499,0.012857,1.578234
17,(sex[T. Male]),(native_country[T. United-States]),0.669205,0.895857,0.598507,0.894355,0.998324,-0.001005,0.985784
18,(income[T. >50K]),(sex[T. Male]),0.240810,0.669205,0.204601,0.849637,1.269620,0.043450,2.199966
19,(income[T. >50K]),(native_country[T. United-States]),0.240810,0.895857,0.220233,0.914552,1.020868,0.004502,1.218784
20,"(workclass[ Private], education[T. HS-grad])",(race[T. White]),0.238936,0.854274,0.203065,0.849871,0.994847,-0.001052,0.970678
21,"(workclass[ Private], education[T. HS-grad])",(native_country[T. United-States]),0.238936,0.895857,0.219526,0.918766,1.025572,0.005474,1.282013
22,"(workclass[ Private], marital_status[T. Married-civ-spouse])",(race[T. White]),0.298885,0.854274,0.266699,0.892314,1.044530,0.011370,1.353254
23,"(workclass[ Private], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.298885,0.669205,0.266208,0.890670,1.330936,0.066192,3.025651
24,"(workclass[ Private], marital_status[T. Married-civ-spouse])",(native_country[T. United-States]),0.298885,0.895857,0.263843,0.882758,0.985378,-0.003915,0.888273
25,"(workclass[ Private], marital_status[T. Never-married])",(race[T. White]),0.251405,0.854274,0.208378,0.828854,0.970244,-0.006391,0.851475
26,"(workclass[ Private], marital_status[T. Never-married])",(native_country[T. United-States]),0.251405,0.895857,0.223273,0.888102,0.991343,-0.001950,0.930693
27,"(workclass[ Private], sex[T. Male])",(race[T. White]),0.458954,0.854274,0.403028,0.878145,1.027944,0.010956,1.195901
28,"(race[T. White], workclass[ Private])",(native_country[T. United-States]),0.595928,0.895857,0.544455,0.913626,1.019835,0.010589,1.205722
29,"(workclass[ Private], native_country[T. United-States])",(race[T. White]),0.618378,0.854274,0.544455,0.880457,1.030650,0.016191,1.219029
30,"(workclass[ Private], sex[T. Male])",(native_country[T. United-States]),0.458954,0.895857,0.405669,0.883900,0.986653,-0.005488,0.897010
31,"(race[T. White], education[T. HS-grad])",(native_country[T. United-States]),0.273456,0.895857,0.257486,0.941599,1.051060,0.012508,1.783248
32,"(education[T. HS-grad], native_country[T. United-States])",(race[T. White]),0.297964,0.854274,0.257486,0.864152,1.011563,0.002943,1.072715
33,"(education[T. HS-grad], sex[T. Male])",(native_country[T. United-States]),0.218390,0.895857,0.202543,0.927436,1.035250,0.006897,1.435195
34,"(race[T. White], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.411842,0.669205,0.369645,0.897539,1.341201,0.094037,3.228497
35,"(marital_status[T. Married-civ-spouse], sex[T. Male])",(race[T. White]),0.409048,0.854274,0.369645,0.903671,1.057824,0.020206,1.512807
36,(marital_status[T. Married-civ-spouse]),"(race[T. White], sex[T. Male])",0.459937,0.588864,0.369645,0.803686,1.364807,0.098804,2.094277
37,"(race[T. White], marital_status[T. Married-civ-spouse])",(native_country[T. United-States]),0.411842,0.895857,0.379872,0.922371,1.029597,0.010920,1.341554
38,"(marital_status[T. Married-civ-spouse], native_country[T. United-States])",(race[T. White]),0.410553,0.854274,0.379872,0.925269,1.083107,0.029147,1.950022
39,(marital_status[T. Married-civ-spouse]),"(race[T. White], native_country[T. United-States])",0.459937,0.786862,0.379872,0.825921,1.049640,0.017965,1.224381
40,"(marital_status[T. Married-civ-spouse], sex[T. Male])",(native_country[T. United-States]),0.409048,0.895857,0.366911,0.896989,1.001264,0.000463,1.010992
41,"(marital_status[T. Married-civ-spouse], native_country[T. United-States])",(sex[T. Male]),0.410553,0.669205,0.366911,0.893701,1.335466,0.092167,3.111936
42,"(race[T. White], marital_status[T. Never-married])",(native_country[T. United-States]),0.268941,0.895857,0.247658,0.920863,1.027913,0.006725,1.315989
43,"(marital_status[T. Never-married], native_country[T. United-States])",(race[T. White]),0.294186,0.854274,0.247658,0.841842,0.985447,-0.003657,0.921395
44,"(race[T. White], relationship[T. Not-in-family])",(native_country[T. United-States]),0.218820,0.895857,0.202973,0.927579,1.035410,0.006941,1.438021
45,"(relationship[T. Not-in-family], native_country[T. United-States])",(race[T. White]),0.231197,0.854274,0.202973,0.877922,1.027683,0.005468,1.193720
46,"(race[T. White], sex[T. Male])",(native_country[T. United-States]),0.588864,0.895857,0.542152,0.920674,1.027702,0.014614,1.312845
47,"(sex[T. Male], native_country[T. United-States])",(race[T. White]),0.598507,0.854274,0.542152,0.905839,1.060362,0.030863,1.547639
48,(sex[T. Male]),"(race[T. White], native_country[T. United-States])",0.669205,0.786862,0.542152,0.810142,1.029587,0.015580,1.122622
49,"(race[T. White], income[T. >50K])",(native_country[T. United-States]),0.218574,0.895857,0.205890,0.941970,1.051474,0.010079,1.794638
50,"(income[T. >50K], native_country[T. United-States])",(race[T. White]),0.220233,0.854274,0.205890,0.934877,1.094353,0.017751,2.237697
51,(income[T. >50K]),"(race[T. White], native_country[T. United-States])",0.240810,0.786862,0.205890,0.854993,1.086586,0.016407,1.469849

**Analysis/Commentary of Generated Rules:**

General comments: I chose a fairly low support (0.2). Although there were a decent amount of itemsets with a higher support (I could go up to 0.35 to generate a handful of itemsets), I chose a lower support in order to have a more diverse range of generated rules. With the higher support (0.35), all my generated rules were variations of marital status and sex. Although these are interesting, I wanted to find rules with more, different items, which I was able to better achieve with a support of 0.2 and confidence of 0.8 (high).

**1. {workclass[ Private]} --> {race[T. White]}**

This rule tells us that the probability of seeing an adult that is white given that they work in the private sector is 85% (or 0.854952). This is interesting but not particularly surprising (unfortunately). I also checked a goverment breakdown of race and minority groups in 2003 (in the USA--a good starting point of reference: https://www.eeoc.gov/sites/default/files/migrated_files/eeoc/statistics/reports/ceosummit/characteristics.pdf), it also seems that white adults make up the majority of private sector employees, so this rule makes sense. This is also in conjunction with prior knowledge of the difficulties and discrimination that minorities face in most job markets, but especially when big money is involved.

**2. {income[T. >50K]} --> {sex[T. Male]}**

This rule tells us that the probability of an adult being male given that they make more than 50k is 85% (or 0.849637). Similarly to the logic above, and from some more statistics online (and unsurprising) that men make a higher amount of money (compared to less than 50k) across the world.

**3. {race[T. White], income[T. >50K]} --> {native_country[T. United-States]}**

This rule tells us that the probability of an adult being from the United States given that they are white and make more than 50k is 90% (or 0.905839). I found this rule to be a little surprising, mostly just because I had assumed that white men were making more money than most other gender and race groups across the world. However, it seems that this is especially true in the USA.

**4. {income[T. >50K], native_country[T. United-States]} --> {race[T. White]}**

I think this rule is interesting in conjunction with rule #2 and #3. It tells us that the probability of an adult being white given that they make more than 50k in the United States is 93% (or 0.934877). Generally, what these rules are implying is that white men make good money (more than 50k) at a very high rate, and this is especially and notably true in the United States.

**5. {education[T. Some-college]} --> {native_country[T. United-States]}**

This rule is saying that the probability of an adult being from the United States given that they have a college education is 92% (or 0.924427). I assume that we also must consider the population size of the United States, and since this dataset is not normalized, that the sheer number of United States native adults is greater than most other countries. However, there are other large population countries, and it seems that out of the ones that are comparable to the United States in size, that the USA is likely to have the most college graduates.

*(c) Use lift for the rule interestingness (metric="lift") and generate rules up to a depth of at least 3 (max len=3) or higher. Generate rules and find at least 5 rules that you find interesting. Comment on your findings and try to reason about these association rules. Decide yourself on the levels of support and confidence used in this analysis.*

From: http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/ 

The lift metric is commonly used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent. If A and C are independent, the Lift score will be exactly 1.

**NOTE:** Here, I am going to use an even lower min support to try to get some more diverse rules than the ones above.

In [78]:
adult_freq_itemsets = apriori(df, min_support=0.01, use_colnames=True, max_len=3)
adult_freq_itemsets.head()

    support                    itemsets
0  0.056386             (workclass[ ?])
1  0.029483   (workclass[ Federal-gov])
2  0.064279     (workclass[ Local-gov])
3  0.697030       (workclass[ Private])
4  0.034274  (workclass[ Self-emp-inc])

In [79]:
lift_rules = association_rules(adult_freq_itemsets, metric="lift", min_threshold=1)
lift_rules.head(70)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(workclass[ ?]),(education[T. Some-college]),0.056386,0.223918,0.015786,0.279956,1.250262,0.003160,1.077826
1,(education[T. Some-college]),(workclass[ ?]),0.223918,0.056386,0.015786,0.070498,1.250262,0.003160,1.015182
2,(workclass[ ?]),(marital_status[T. Never-married]),0.056386,0.328092,0.023525,0.417211,1.271630,0.005025,1.152919
3,(marital_status[T. Never-married]),(workclass[ ?]),0.328092,0.056386,0.023525,0.071703,1.271630,0.005025,1.016499
4,(workclass[ ?]),(relationship[T. Own-child]),0.056386,0.155646,0.016523,0.293028,1.882655,0.007746,1.194325
...,...,...,...,...,...,...,...,...,...
65,(relationship[T. Own-child]),(workclass[ Private]),0.155646,0.697030,0.118762,0.763023,1.094677,0.010272,1.278477
66,(workclass[ Private]),(relationship[T. Unmarried]),0.697030,0.105832,0.076103,0.109182,1.031655,0.002335,1.003761
67,(relationship[T. Unmarried]),(workclass[ Private]),0.105832,0.697030,0.076103,0.719095,1.031655,0.002335,1.078547
68,(race[T. White]),(workclass[ Private]),0.854274,0.697030,0.595928,0.697584,1.000795,0.000473,1.001832
69,(workclass[ Private]),(race[T. White]),0.697030,0.854274,0.595928,0.854952,1.000795,0.000473,1.004681

In [80]:
lift_rules.sort_values(by=["lift"], ascending=False).head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2333,(education[T. Prof-school]),"(occupation[T. Prof-specialty], income[T. >50K])",0.017690,0.057093,0.010688,0.604167,10.582179,0.009678,2.382081
2328,"(occupation[T. Prof-specialty], income[T. >50K])",(education[T. Prof-school]),0.057093,0.017690,0.010688,0.187197,10.582179,0.009678,1.208547
2318,"(occupation[T. Prof-specialty], sex[T. Male])",(education[T. Prof-school]),0.080618,0.017690,0.011670,0.144762,8.183320,0.010244,1.148581
2323,(education[T. Prof-school]),"(occupation[T. Prof-specialty], sex[T. Male])",0.017690,0.080618,0.011670,0.659722,8.183320,0.010244,2.701858
2560,"(marital_status[T. Married-civ-spouse], occupation[T. Adm-clerical])",(relationship[T. Wife]),0.030282,0.048156,0.010749,0.354970,7.371278,0.009291,1.475658
2561,(relationship[T. Wife]),"(marital_status[T. Married-civ-spouse], occupation[T. Adm-clerical])",0.048156,0.030282,0.010749,0.223214,7.371278,0.009291,1.248373
2331,(occupation[T. Prof-specialty]),"(income[T. >50K], education[T. Prof-school])",0.127146,0.012991,0.010688,0.084058,6.470477,0.009036,1.077589
2330,"(income[T. >50K], education[T. Prof-school])",(occupation[T. Prof-specialty]),0.012991,0.127146,0.010688,0.822695,6.470477,0.009036,4.922897
2312,"(race[T. White], occupation[T. Prof-specialty])",(education[T. Prof-school]),0.112128,0.017690,0.012530,0.111750,6.317185,0.010547,1.105894
2317,(education[T. Prof-school]),"(race[T. White], occupation[T. Prof-specialty])",0.017690,0.112128,0.012530,0.708333,6.317185,0.010547,3.044133
2325,"(native_country[T. United-States], education[T. Prof-school])",(occupation[T. Prof-specialty]),0.015417,0.127146,0.012377,0.802789,6.313915,0.010417,4.425987
2326,(occupation[T. Prof-specialty]),"(native_country[T. United-States], education[T. Prof-school])",0.127146,0.015417,0.012377,0.097343,6.313915,0.010417,1.090761
1431,(occupation[T. Farming-fishing]),"(workclass[ Self-emp-not-inc], sex[T. Male])",0.030527,0.065784,0.012592,0.412475,6.270118,0.010584,1.590086
1430,"(workclass[ Self-emp-not-inc], sex[T. Male])",(occupation[T. Farming-fishing]),0.065784,0.030527,0.012592,0.191410,6.270118,0.010584,1.198967
2316,(occupation[T. Prof-specialty]),"(race[T. White], education[T. Prof-school])",0.127146,0.015786,0.012530,0.098551,6.243016,0.010523,1.091813
2313,"(race[T. White], education[T. Prof-school])",(occupation[T. Prof-specialty]),0.015786,0.127146,0.012530,0.793774,6.243016,0.010523,4.232519
2320,"(sex[T. Male], education[T. Prof-school])",(occupation[T. Prof-specialty]),0.014864,0.127146,0.011670,0.785124,6.174981,0.009780,4.062128
2321,(occupation[T. Prof-specialty]),"(sex[T. Male], education[T. Prof-school])",0.127146,0.014864,0.011670,0.091787,6.174981,0.009780,1.084697
209,(education[T. Prof-school]),(occupation[T. Prof-specialty]),0.017690,0.127146,0.013882,0.784722,6.171821,0.011632,4.054548
208,(occupation[T. Prof-specialty]),(education[T. Prof-school]),0.127146,0.017690,0.013882,0.109179,6.171821,0.011632,1.102702
2327,(education[T. Prof-school]),"(occupation[T. Prof-specialty], native_country[T. United-States])",0.017690,0.113418,0.012377,0.699653,6.168804,0.010370,2.951857
2324,"(occupation[T. Prof-specialty], native_country[T. United-States])",(education[T. Prof-school]),0.113418,0.017690,0.012377,0.109125,6.168804,0.010370,1.102636
1435,"(occupation[T. Farming-fishing], native_country[T. United-States])",(workclass[ Self-emp-not-inc]),0.026995,0.078038,0.012837,0.475540,6.093692,0.010731,1.757927
1438,(workclass[ Self-emp-not-inc]),"(occupation[T. Farming-fishing], native_country[T. United-States])",0.078038,0.026995,0.012837,0.164502,6.093692,0.010731,1.164581
1436,"(workclass[ Self-emp-not-inc], native_country[T. United-States])",(occupation[T. Farming-fishing]),0.071036,0.030527,0.012837,0.180718,5.919868,0.010669,1.183319
1437,(occupation[T. Farming-fishing]),"(workclass[ Self-emp-not-inc], native_country[T. United-States])",0.030527,0.071036,0.012837,0.420523,5.919868,0.010669,1.603108
1427,(workclass[ Self-emp-not-inc]),"(race[T. White], occupation[T. Farming-fishing])",0.078038,0.028101,0.012868,0.164896,5.867945,0.010675,1.163805
1422,"(race[T. White], occupation[T. Farming-fishing])",(workclass[ Self-emp-not-inc]),0.028101,0.078038,0.012868,0.457923,5.867945,0.010675,1.700797
1426,(occupation[T. Farming-fishing]),"(race[T. White], workclass[ Self-emp-not-inc])",0.030527,0.071927,0.012868,0.421529,5.860551,0.010672,1.604357
1423,"(race[T. White], workclass[ Self-emp-not-inc])",(occupation[T. Farming-fishing]),0.071927,0.030527,0.012868,0.178907,5.860551,0.010672,1.180710
1429,"(occupation[T. Farming-fishing], sex[T. Male])",(workclass[ Self-emp-not-inc]),0.028531,0.078038,0.012592,0.441335,5.655372,0.010365,1.650294
1432,(workclass[ Self-emp-not-inc]),"(occupation[T. Farming-fishing], sex[T. Male])",0.078038,0.028531,0.012592,0.161354,5.655372,0.010365,1.158378
90,(occupation[T. Farming-fishing]),(workclass[ Self-emp-not-inc]),0.030527,0.078038,0.013206,0.432596,5.543386,0.010824,1.624876
91,(workclass[ Self-emp-not-inc]),(occupation[T. Farming-fishing]),0.078038,0.030527,0.013206,0.169225,5.543386,0.010824,1.166949
928,"(workclass[ Private], relationship[T. Unmarried])",(marital_status[T. Separated]),0.076103,0.031479,0.010565,0.138822,4.409923,0.008169,1.124646
929,(marital_status[T. Separated]),"(workclass[ Private], relationship[T. Unmarried])",0.031479,0.076103,0.010565,0.335610,4.409923,0.008169,1.390593
926,"(marital_status[T. Separated], workclass[ Private])",(relationship[T. Unmarried]),0.023157,0.105832,0.010565,0.456233,4.310916,0.008114,1.644397
931,(relationship[T. Unmarried]),"(marital_status[T. Separated], workclass[ Private])",0.105832,0.023157,0.010565,0.099826,4.310916,0.008114,1.085172
1559,(relationship[T. Own-child]),"(education[T. 11th], marital_status[T. Never-married])",0.155646,0.017997,0.011978,0.076953,4.275906,0.009176,1.063872
1554,"(education[T. 11th], marital_status[T. Never-married])",(relationship[T. Own-child]),0.017997,0.155646,0.011978,0.665529,4.275906,0.009176,2.524445
2242,(education[T. Masters]),"(occupation[T. Prof-specialty], income[T. >50K])",0.052916,0.057093,0.012868,0.243180,4.259387,0.009847,1.245881
2239,"(occupation[T. Prof-specialty], income[T. >50K])",(education[T. Masters]),0.057093,0.052916,0.012868,0.225390,4.259387,0.009847,1.222659
417,(relationship[T. Own-child]),"(workclass[ ?], marital_status[T. Never-married])",0.155646,0.023525,0.015264,0.098066,4.168586,0.011602,1.082646
412,"(workclass[ ?], marital_status[T. Never-married])",(relationship[T. Own-child]),0.023525,0.155646,0.015264,0.648825,4.168586,0.011602,2.404368
280,(marital_status[T. Separated]),(relationship[T. Unmarried]),0.031479,0.105832,0.013851,0.440000,4.157528,0.010519,1.596728
281,(relationship[T. Unmarried]),(marital_status[T. Separated]),0.105832,0.031479,0.013851,0.130876,4.157528,0.010519,1.114365
2999,(relationship[T. Unmarried]),"(marital_status[T. Separated], native_country[T. United-States])",0.105832,0.027118,0.011640,0.109983,4.055655,0.008770,1.093104
2996,"(marital_status[T. Separated], native_country[T. United-States])",(relationship[T. Unmarried]),0.027118,0.105832,0.011640,0.429219,4.055655,0.008770,1.566568
2169,(education[T. Masters]),"(occupation[T. Prof-specialty], marital_status[T. Married-civ-spouse])",0.052916,0.065293,0.013759,0.260012,3.982238,0.010304,1.263138
2164,"(occupation[T. Prof-specialty], marital_status[T. Married-civ-spouse])",(education[T. Masters]),0.065293,0.052916,0.013759,0.210724,3.982238,0.010304,1.199941

**1. {sex[T. Male], occupation[T. Exec-managerial]} --> {income[T. >50K]}**

This rule has a lift of 2.070635 (where 1 means the events are independent), which suggests that the antecedent and consequent are linked, and do not just happen by chance. It entirely makes sense knowing that men tend to make the most money (when comparing just gender), and the fact that we are also considering an executive managerial position (a generally high earning position), this rule makes sense.

**2. {occupation[T. Craft-repair]} --> {education[T. HS-grad], sex[T. Male]}**

This rule has a lift of 2.033108, which again implies that the antecedent and consequent are linked, and do not just occur together by chance. Looking at the rule, it makes sense; generally, adults whose highest education level is highschool tend more often to go into a trade career (repair, etc.). Further, seeing as this is a labour intensive job, which are generally more dominated by men, the rule further makes sense.

**3. {occupation[T. Prof-specialty], income[T. >50K]} --> {education[T. Masters]}**

Notice for this rule, that the opposite (reflexive) rule also has the exact same lift, which is 4.259387. This is a high lift value, which implies that being a prof and making more than 50k is tightly linked to having a master's degree. This entirely makes sense, seeing as the vast majority of professors that I have come across, have a master's degree but usually often a PhD as well.

**4. {relationship[T. Unmarried]} --> {marital_status[T. Separated]}**

Notice for this rule, that the opposite (reflexive) rule also has the exact same lift, which is 4.157528. Again, this is a fairly high lift value, which would imply that being unmarried is tightly linked with being separated. This rule also makes sense, as it sheds light on the fact that being separated and currently unmarried tend to go hand in hand (I believe most people aren't quick to get married again as soon as they are separated).

**5. {occupation[T. Farming-fishing], sex[T. Male]} --> {workclass[ Self-emp-not-inc]}**

Notice for this rule, that the opposite (reflexive) rule also has the exact same lift, which is 5.655372. Finally, this rule also makes sense. It implies that there is a tight relationship between men who farm-fish as their occupation, and being self employed by a non-corporation (definition of "Self-emp-not-inc" found here: https://smallbiztrends.com/2013/11/incorporated-versus-unincorporated-self-employment.html). Seeing as the opposite rule also has the same lift, we can reason that this makes sense. As mentioned previously, men are more likely to work in more labour-intensive jobs, and it seems that fish farming is not a big corporate type of job (not corp).

*(d) Compare the top rules using the two interestingness measures for the same levels of support (use at least two different levels of support) and comment on your findings.*

**HIGHER min support: min_support = 0.25**

In [101]:
higher_sup_freq_itemsets = apriori(df, min_support=0.25, use_colnames=True, max_len=3)

Now, we will look at rules generated from: min_confidence = 0.8, min_lift = 1.0 :

In [102]:
higher_sup_lift_rules = association_rules(higher_sup_freq_itemsets, metric="lift", min_threshold=1)
higher_sup_lift_rules.sort_values(by=["lift"], ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
37,"(race[T. White], sex[T. Male])",(marital_status[T. Married-civ-spouse]),0.588864,0.459937,0.369645,0.627725,1.364807,0.098804,1.450711
40,(marital_status[T. Married-civ-spouse]),"(race[T. White], sex[T. Male])",0.459937,0.588864,0.369645,0.803686,1.364807,0.098804,2.094277
36,"(race[T. White], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.411842,0.669205,0.369645,0.897539,1.341201,0.094037,3.228497
41,(sex[T. Male]),"(race[T. White], marital_status[T. Married-civ-spouse])",0.669205,0.411842,0.369645,0.552363,1.341201,0.094037,1.313918
52,(sex[T. Male]),"(marital_status[T. Married-civ-spouse], native_country[T. United-States])",0.669205,0.410553,0.366911,0.548279,1.335466,0.092167,1.304893
49,"(marital_status[T. Married-civ-spouse], native_country[T. United-States])",(sex[T. Male]),0.410553,0.669205,0.366911,0.893701,1.335466,0.092167,3.111936
51,(marital_status[T. Married-civ-spouse]),"(sex[T. Male], native_country[T. United-States])",0.459937,0.598507,0.366911,0.797743,1.332888,0.091636,1.985062
50,"(sex[T. Male], native_country[T. United-States])",(marital_status[T. Married-civ-spouse]),0.598507,0.459937,0.366911,0.613044,1.332888,0.091636,1.395671
21,(sex[T. Male]),"(workclass[ Private], marital_status[T. Married-civ-spouse])",0.669205,0.298885,0.266208,0.397797,1.330936,0.066192,1.164250
18,"(workclass[ Private], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.298885,0.669205,0.266208,0.890670,1.330936,0.066192,3.025651

In [103]:
higher_sup_conf_rules = association_rules(higher_sup_freq_itemsets, metric="confidence", min_threshold=0.8)
higher_sup_conf_rules.sort_values(by=["confidence"], ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
20,"(race[T. White], education[T. HS-grad])",(native_country[T. United-States]),0.273456,0.895857,0.257486,0.941599,1.051060,0.012508,1.783248
26,"(marital_status[T. Married-civ-spouse], native_country[T. United-States])",(race[T. White]),0.410553,0.854274,0.379872,0.925269,1.083107,0.029147,1.950022
3,(education[T. HS-grad]),(native_country[T. United-States]),0.322502,0.895857,0.297964,0.923912,1.031316,0.009048,1.368718
25,"(race[T. White], marital_status[T. Married-civ-spouse])",(native_country[T. United-States]),0.411842,0.895857,0.379872,0.922371,1.029597,0.010920,1.341554
10,(race[T. White]),(native_country[T. United-States]),0.854274,0.895857,0.786862,0.921089,1.028165,0.021555,1.319746
30,"(race[T. White], sex[T. Male])",(native_country[T. United-States]),0.588864,0.895857,0.542152,0.920674,1.027702,0.014614,1.312845
17,"(race[T. White], workclass[ Private])",(native_country[T. United-States]),0.595928,0.895857,0.544455,0.913626,1.019835,0.010589,1.205722
31,"(sex[T. Male], native_country[T. United-States])",(race[T. White]),0.598507,0.854274,0.542152,0.905839,1.060362,0.030863,1.547639
23,"(marital_status[T. Married-civ-spouse], sex[T. Male])",(race[T. White]),0.409048,0.854274,0.369645,0.903671,1.057824,0.020206,1.512807
22,"(race[T. White], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.411842,0.669205,0.369645,0.897539,1.341201,0.094037,3.228497

**Comparison:** It seems like the top rules for min confidence of 0.8 and min lift of 1.0 (I keep choosing because any value greater than 1 implies that the itemsets are not just linked by chance) are different but mostly contain similar items. It seems like there are a lot of rules and associations between being white, male, and living in the United States. I wonder if the United States portion is only relevant because I chose a high min support, and out of the countries evaluated, it simply is one of the countries with the most people/adults. There are also a considerable rules with marital status being 'Married-civ-spouse", which also seems to occur a lot with the aformentioned itsems. However, it seems that these rules aren't particularly impactful, likely due to the very high min support (i.e. these itemsets occur a lot but their content doesn't really tell us too much...knowing someone is male and married isn't too informative).

**LOWER min support: min_support = 0.03**

In [105]:
lower_sup_freq_itemsets = apriori(df, min_support=0.03, use_colnames=True, max_len=3)

Now, we will look at rules generated from: min_confidence = 0.8, min_lift = 1.0 :

In [106]:
lower_sup_lift_rules = association_rules(lower_sup_freq_itemsets, metric="lift", min_threshold=1)
lower_sup_lift_rules.sort_values(by=["lift"], ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
863,(relationship[T. Own-child]),"(marital_status[T. Never-married], education[T. Some-college])",0.155646,0.090077,0.048555,0.311957,3.463227,0.034535,1.322480
858,"(marital_status[T. Never-married], education[T. Some-college])",(relationship[T. Own-child]),0.090077,0.155646,0.048555,0.539039,3.463227,0.034535,1.831723
978,"(occupation[T. Prof-specialty], marital_status[T. Married-civ-spouse])",(income[T. >50K]),0.065293,0.240810,0.046282,0.708843,2.943583,0.030559,2.607494
983,(income[T. >50K]),"(occupation[T. Prof-specialty], marital_status[T. Married-civ-spouse])",0.240810,0.065293,0.046282,0.192195,2.943583,0.030559,1.157095
957,"(marital_status[T. Married-civ-spouse], occupation[T. Exec-managerial])",(income[T. >50K]),0.075059,0.240810,0.051166,0.681669,2.830741,0.033091,2.384912
960,(income[T. >50K]),"(marital_status[T. Married-civ-spouse], occupation[T. Exec-managerial])",0.240810,0.075059,0.051166,0.212473,2.830741,0.033091,1.174488
862,(marital_status[T. Never-married]),"(relationship[T. Own-child], education[T. Some-college])",0.328092,0.052977,0.048555,0.147992,2.793491,0.031174,1.111519
859,"(relationship[T. Own-child], education[T. Some-college])",(marital_status[T. Never-married]),0.052977,0.328092,0.048555,0.916522,2.793491,0.031174,8.048899
1104,(relationship[T. Own-child]),"(marital_status[T. Never-married], native_country[T. United-States])",0.155646,0.294186,0.127852,0.821429,2.792205,0.082063,3.952557
1101,"(marital_status[T. Never-married], native_country[T. United-States])",(relationship[T. Own-child]),0.294186,0.155646,0.127852,0.434597,2.792205,0.082063,1.493365

In [107]:
lower_sup_conf_rules = association_rules(lower_sup_freq_itemsets, metric="confidence", min_threshold=0.8)
lower_sup_conf_rules.sort_values(by=["confidence"], ascending=False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
31,(relationship[T. Wife]),(marital_status[T. Married-civ-spouse]),0.048156,0.459937,0.047787,0.992347,2.157573,0.025639,70.568267
90,"(workclass[ Private], relationship[T. Wife])",(marital_status[T. Married-civ-spouse]),0.030681,0.459937,0.030435,0.991992,2.156801,0.016324,67.440400
249,"(race[T. White], relationship[T. Wife])",(marital_status[T. Married-civ-spouse]),0.040263,0.459937,0.039925,0.991609,2.155969,0.021407,64.365722
252,"(relationship[T. Wife], native_country[T. United-States])",(marital_status[T. Married-civ-spouse]),0.041798,0.459937,0.041430,0.991183,2.155042,0.022205,61.252175
236,"(occupation[T. Craft-repair], marital_status[T. Married-civ-spouse])",(sex[T. Male]),0.078745,0.669205,0.077946,0.989860,1.479156,0.025250,32.621428
83,"(education[T. HS-grad], occupation[T. Machine-op-inspct])",(workclass[ Private]),0.031418,0.697030,0.030374,0.966764,1.386976,0.008474,9.115827
159,"(race[T. White], workclass[ State-gov])",(native_country[T. United-States]),0.032616,0.895857,0.031418,0.963277,1.075257,0.002199,2.835894
5,(occupation[T. Machine-op-inspct]),(workclass[ Private]),0.061485,0.697030,0.058751,0.955544,1.370880,0.015895,6.815119
133,"(workclass[ Private], occupation[T. Transport-moving])",(sex[T. Male]),0.038881,0.669205,0.037100,0.954186,1.425850,0.011080,7.220446
296,"(occupation[T. Craft-repair], race[T. White])",(sex[T. Male]),0.113449,0.669205,0.108228,0.953979,1.425540,0.032307,7.187970

**Comparison:** Using the same confidence and lift values as with the higher min support, it seems that the rules generated from a lower min support are much more infortmative. They actually tell us something about non-obvious relationships in the adult dataset.

**(i.e. {workclass[ Private], occupation[T. Transport-moving]} --> {sex[T. Male]}**
In this rule, we can find out that it is likely that an adult is male if they privately work in the transportation industry. 

There are many rules like this, that actually tell us about how occupation is linked to income:
**i.e. {marital_status[T. Married-civ-spouse], occupation[T. Exec-managerial]} --> {income[T. >50K]}** 

How race is linked to working for the government. I find this one especially interesting: 
**{race[T. White], workclass[ State-gov]} --> {native_country[T. United-States]}**
It seems like it is likely that if you have a white adult working for the state government, they are in the UNited States--telling about representation in the US government (not good)).

Overall, the rules geneated with a much lower support seem to be much more informative. This is very likely due to the fact that a lot of these itemsets, and rules generated from them, are impactful, but seeing as we are dealing with many different possible combinations, countries, etc. they may not happen very often (i.e. itemsets with fishing profession in Yugoslavia are going to be MUCH less frequent than those from the USA and say, being white, but they still may be very informative, just about a smaller population).